<!-- app/views/home/about.html.erb -->

<div class="container min-vh-100">
 

  <div class="about-content">   
    <h3>Tutor App</h3>
    <p>Tutors Book is a Ruby on Rails web application that provides a convenient platform for managing and contacting tutors' information.
  </p>
  </div>

  
  <div class="about-content">  
    <h3>Features</h3>
    <ul>
      <li>Register, Login/Logout, and edit user information</li>
      <li>Tutor Information Management:Create, read, update, and delete tutor information.</li>
      <li>User-Friendly Interface: The application will have an intuitive and responsive member interface design to provide an excellent member experience.
  </li>

    </ul>
  </div>


   <div class="about-content">

    <h3>Learn from the project</h3>
    <ol>
      <li>MVC Organization</li>
      <li>CRUD Scaffold</li>
      <li>Style Devise Views</li>
      <li>Database Association</li>
      <li>Fun with Controllers</li>
      <li>Git, Github, and Heroku</li>
    </ol>
  </div>


   <div class="about-content">
    <h3>About Me</h3>
    <p><%= @about_me %></p>

  </div>


 </div>

