<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5">
        <div class="content">
          <h1 class="text-center mb-4">Tutors Book</h1>
          <p class="text-center">Connect and stay in touch with all your tutors throughout your life. Easily store their
            information, send emails, and celebrate birthdays and holidays. Maintain a lifelong connection with those who
            have guided and supported you.</p>
          <p class="text-center">Browse through the list of tutors and explore their details. Stay connected and express
            your gratitude with ease.</p>
          <p class="text-center note">Note: This application is under development, with more features coming soon.</p>
        </div>
      </div>
    </div>
  </div>